body {
    background: silver;
}

.container {
    background: silver;   
}

button {
    margin: 5% 5% 5% 5%;
    width: 15%;
    height: 100px;
}

#math {
    width: 40%;
}

input {
    text-align: right;
    /* width: 90% !important; */
    font-size: 24pt !important;
}


#input-row {
    width: 95%;
}

#clearBtn {
    height: 100%;
    width: 100%;
    background: rgb(233,236,239);
    border-color: rgb(233,236,239);
}